
<ion-content class=background>

    <h1><ion-icon name="camera" item-left> </ion-icon>
      Snap your notes here 
   </h1>
   
    <ion-card>    
        <ion-card-header>
    
          {{email}}
          
        <ion-list style="padding-bottom:30px">
            <ion-label> Feeling lazy to write down your notes? </ion-label>

           <!-- <ion-item>
              <ion-icon name="camera" item-left> </ion-icon>
            Just take a picture of your notes!
            </ion-item>-->

          </ion-list>


          <ion-list style="padding-bottom:30px">
          <button ion-button full (click)="takePhoto()"  >  
              <ion-icon name="camera"></ion-icon> &nbsp;&nbsp;  Simply capture your notes here!
            </button>
            <img [src]="base64Image" *ngIf="base64Image"/>
          </ion-list>
 


  <!--<ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor = "let photo of photos; let id = index">
            <ion-card class="block">
              <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
                <img [src]="base64Image" *ngIf="base64Image"/>
            </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>-->


</ion-card-header>


  </ion-card>
        </ion-content>

        