page-about {
    .block{
        position: relative;
        .deleteIcon{
            position:absolute;
            margin-left:90%;
            margin-top:5px;
            color:#ffffff;
        }
    }
    }
    